<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Top menu item -->
<!--    <menuitem id="inventory_menu_root"-->
<!--              name="Inventory"-->
<!--              sequence="1"/>-->

<!--    <menuitem id="menu_inventory_master"-->
<!--              name="Products"-->
<!--              parent="inventory_menu_root"-->
<!--              sequence="2"/>-->

<!--    <menuitem id="menu_inventory"-->
<!--              name="Products"-->
<!--              action="action_src_inventory"-->
<!--              parent="menu_inventory_master"-->
<!--              sequence="3"/>-->


</odoo>