<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Top menu item -->
<!--    <menuitem id="customer_menu_root"-->
<!--              name="Customers"-->
<!--              sequence="1"/>-->

<!--    <menuitem id="menu_customer_master"-->
<!--              name="Customers"-->
<!--              parent="customer_menu_root"-->
<!--              sequence="2"/>-->

<!--    <menuitem id="menu_customer"-->
<!--              name="Customers"-->
<!--              action="action_src_customer_contact"-->
<!--              parent="menu_customer_master"-->
<!--              sequence="3"/>-->


</odoo>